body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.container{
    background-color: black;
    width: 800px;
    height:800px;
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    box-shadow: 2px 5px 20px black;
}
h1{
    margin: auto;
}

.child{
    background-color: rgb(255, 255, 255);

}
button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(93, 94, 93);
    border: none;
    border-radius: 5px;
    color: white;

}